{% extends 'layout.html' %}
{% block title %} Create Job {% endblock title %}
{% block content %}
{% from 'macros.html' import jobCardDropdown %}
{% from 'macros.html' import jobCardField %}

<section style="padding: 20px;">
    <h2>Create a new Job Work</h2>
    <div style="margin: 25px">
        <form action="/createJobCard" method="POST">
            <div class="createJobDiv">
                <h4>Job Card</h4>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="JobId">Job Id</label><input class="form-control" type="text" value="{{id}}"
                            name="JobId" readonly />
                    </div>
                    {{ jobCardDropdown('clientName', 'Client Name', clientName) }}
                    {{ jobCardField('date', 'Date', 'date', req=1) }}

                </div>
                <div class="form-row">
                    {{ jobCardDropdown('jobName', 'Job Name', jobNames) }}
                    {{ jobCardField('qty', 'Quanity', 'number', req=1) }}
                </div>
                <div class="form-row">
                    {{ jobCardField('description', 'Job Description', 'text', 6) }}
                </div>
            </div>

            <div class="createJobDiv">
                <h4>Paper</h4>
                <div class="form-row">
                    {{ jobCardDropdown('paperSupplierName', 'Supplier Name', paperSuppliers) }}
                    {{ jobCardDropdown('paperType', 'Type', paperTypes) }}
                </div>
                <div class="form-row">
                    {{ jobCardField('gsm', 'GSM', 'text', 2) }}
                    {{ jobCardField('paperLength', 'Length', 'number', 2) }}
                    {{ jobCardField('paperWidth', 'Width', 'number', 2) }}
                    {{ jobCardField('paperQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('paperSize', 'Size', 'text', 2) }}
                    {{ jobCardField('paperCost', 'Cost', 'number', 2) }}
                </div>
            </div>

            <div class="createJobDiv">
                <h4>Printing</h4>
                <div class="form-row">
                    {{ jobCardDropdown('printingSupplierName', 'Supplier Name', printingSuppliers) }}
                </div>
                <div class="form-row">
                    {{ jobCardField('color', 'Color', 'text', 2) }}
                    {{ jobCardField('printSize', 'Size', 'text', 2) }}
                    {{ jobCardField('printQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('printCost', 'Cost', 'number', 2) }}
                </div>
                <div class="form-row">
                    {{ jobCardField('printingDescription', 'Printing Description', 'text', 6) }}
                </div>
            </div>

            <div class="createJobDiv">
                <h4>Corrugation</h4>
                <div class="form-row">
                    {{ jobCardDropdown('corrugationSupplierName', 'Supplier Name', corrugationSuppliers) }}
                </div>

                <div class="form-row">
                    {{ jobCardField('ply', 'PLY', 'text', 2) }}
                    {{ jobCardField('plyDescription', 'Description', 'text', 6) }}
                </div>

                <div class="form-row">
                    {{ jobCardField('plySize', 'Size', 'text', 2) }}
                    {{ jobCardField('plyQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('plyCost', 'Cost', 'number', 2) }}
                </div>
            </div>
            <div class="createJobDiv">
                <h4>Other Details</h4>
                <div class="form-row">
                    {{ jobCardDropdown('plateSupplierName', 'Plate Supplier Name', plateSuppliers) }}
                    {{ jobCardField('plateQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('plateCost', 'Cost', 'number', 2) }}
                </div>
                <div class="form-row">
                    {{ jobCardDropdown('punchSupplierName', 'Punch Supplier Name', punchSuppliers) }}
                    {{ jobCardField('punchQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('punchCost', 'Cost', 'number', 2) }}
                </div>
                <div class="form-row">
                    {{ jobCardDropdown('varnishSupplierName', 'Varnish Supplier Name', varnishSuppliers) }}
                    {{ jobCardField('varnishQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('varnishCost', 'Cost', 'number', 2) }}
                </div>
                <div class="form-row">
                    {{ jobCardDropdown('laminationSupplierName', 'Lamination Supplier Name', laminationSuppliers) }}
                    {{ jobCardField('laminationQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('laminationCost', 'Cost', 'number', 2) }}
                </div>
                <div class="form-row">
                    {{ jobCardDropdown('punchingSupplierName', 'Punching Supplier Name', punchingSuppliers) }}
                    {{ jobCardField('punchingQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('punchingCost', 'Cost', 'number', 2) }}
                </div>
                <div class="form-row">
                    {{ jobCardDropdown('pastingSupplierName', 'Pasting Supplier Name', pastingSuppliers) }}
                    {{ jobCardField('pastingQty', 'Qty', 'number', 2) }}
                    {{ jobCardField('pastingCost', 'Cost', 'number', 2) }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
            <a role="button" class="btn btn-primary" href="{{url_for('dashboard')}}">Cancel</a>
        </form>
    </div>
</section>
{% endblock content %}