<nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: flex;">

    <div class="container-fluid">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/">Home</a>

            <a href="{{ url_for('createJobCard') }}" role="button" class="nav-link active nav-item">
                New Job Work
            </a>

            <a href="/generateReport" role="button" class="nav-link active nav-item">
                Job Reports
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Masters
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/client_master">Clients</a>
                            <a class="dropdown-item" href="/paper_types_master">Paper Types</a>
                            <a class="dropdown-item" href="/job_master">Jobs</a>
                            <a class="dropdown-item" href="/paper_suppliers_master">Paper Suppliers</a>
                            <a class="dropdown-item" href="/printing_supplier_master">Printing Suppliers</a>
                            <a class="dropdown-item" href="/corrugation_supplier_master">Corrugation Supplier</a>
                        </div>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
            <div>
                
            </div>
        </ul>
    </div>
</nav>